extends layouts/layout

block content
    header(content)
        h1 Devices
    
    main(container).devices-list
        each device in data.devices
            //p= device.objectId
            include components/device